In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36'}
webpage = requests.get('http://books.toscrape.com/',headers = headers).text

In [3]:
soup = BeautifulSoup(webpage,'lxml')

In [4]:
books = soup.find_all('article',class_='product_pod')

In [5]:
books_title = []
rating = []
prices = []
for i in books:
    books_title.append(i.find('h3').text.strip())
    rating.append(i.find('p').get('class'))
    prices.append(i.find('div',class_= 'product_price').text.strip())

In [6]:
f_prices = []
stocks = []
for i in prices:
    f_prices.append(i.split('\n')[0].replace('Â',''))
    stocks.append(i.split('\n')[4].replace(' ',''))

In [7]:
stocks

['Instock',
 'Instock',
 'Instock',
 'Instock',
 'Instock',
 'Instock',
 'Instock',
 'Instock',
 'Instock',
 'Instock',
 'Instock',
 'Instock',
 'Instock',
 'Instock',
 'Instock',
 'Instock',
 'Instock',
 'Instock',
 'Instock',
 'Instock']

In [8]:
d = {'Books_title': books_title, 'Rating':rating,'Prices':f_prices, 'Stock_availabile':stocks}
df = pd.DataFrame(d)

In [9]:
df

,Books_title,Rating,Prices,Stock_availabile
0,A Light in the ...,"[star-rating, Three]",£51.77,Instock
1,Tipping the Velvet,"[star-rating, One]",£53.74,Instock
2,Soumission,"[star-rating, One]",£50.10,Instock
3,Sharp Objects,"[star-rating, Four]",£47.82,Instock
4,Sapiens: A Brief History ...,"[star-rating, Five]",£54.23,Instock
5,The Requiem Red,"[star-rating, One]",£22.65,Instock
6,The Dirty Little Secrets ...,"[star-rating, Four]",£33.34,Instock
7,The Coming Woman: A ...,"[star-rating, Three]",£17.93,Instock
8,The Boys in the ...,"[star-rating, Four]",£22.60,Instock
9,The Black Maria,"[star-rating, One]",£52.15,Instock
10,Starving Hearts (Triangular Trade ...,"[star-rating, Two]",£13.99,Instock
11,Shakespeare's Sonnets,"[star-rating, Four]",£20.66,Instock
12,Set Me Free,"[star-rating, Five]",£17.46,Instock
13,Scott Pilgrim's Precious Little ...,"[star-rating, Five]",£52.29,Instock
14,Rip it Up and ...,"[star-rating, Five]",£35.02,Instock
15,Our Band Could Be ...,"[star-rating, Three]",£57.25,Instock
16,Olio,"[star-rating, One]",£23.88,Instock
17,Mesaerion: The Best Science ...,"[star-rating, One]",£37.59,Instock
18,Libertarianism for Beginners,"[star-rating, Two]",£51.33,Instock
19,It's Only the Himalayas,"[star-rating, Two]",£45.17,Instock

In [10]:
final = pd.DataFrame()

for j in range(1,21):
    url = 'http://books.toscrape.com/'
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36'}
    webpage = requests.get(url,headers = headers).text
    soup = BeautifulSoup(webpage,'lxml')
    books = soup.find_all('article',class_='product_pod')
    books_title = []
    rating = []
    prices = []
    for i in books:
        books_title.append(i.find('h3').text.strip())
        rating.append(i.find('p').get('class'))
        prices.append(i.find('div',class_= 'product_price').text.strip())
        f_prices = []
    stocks = []
    for i in prices:
        f_prices.append(i.split('\n')[0].replace('Â',''))
        stocks.append(i.split('\n')[4].replace(' ',''))
    d = {'Books_title': books_title, 'Rating':rating,'Prices':f_prices, 'Stock_availabile':stocks}
    df = pd.DataFrame(d)   
    final = final.append(df)

C:\Users\Dell\AppData\Local\Temp\ipykernel_18252\878244563.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\Dell\AppData\Local\Temp\ipykernel_18252\878244563.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\Dell\AppData\Local\Temp\ipykernel_18252\878244563.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\Dell\AppData\Local\Temp\ipykernel_18252\878244563.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\Dell\AppData\Local\Temp\ipykernel_18252\878244563.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\Dell\AppData\Local\Temp\ipykernel_18252\878244563.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\Dell\AppData\Local\Temp\ipykernel_18252\878244563.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\Dell\AppData\Local\Temp\ipykernel_18252\878244563.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\Dell\AppData\Local\Temp\ipykernel_18252\878244563.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\Dell\AppData\Local\Temp\ipykernel_18252\878244563.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\Dell\AppData\Local\Temp\ipykernel_18252\878244563.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\Dell\AppData\Local\Temp\ipykernel_18252\878244563.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\Dell\AppData\Local\Temp\ipykernel_18252\878244563.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\Dell\AppData\Local\Temp\ipykernel_18252\878244563.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\Dell\AppData\Local\Temp\ipykernel_18252\878244563.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\Dell\AppData\Local\Temp\ipykernel_18252\878244563.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\Dell\AppData\Local\Temp\ipykernel_18252\878244563.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\Dell\AppData\Local\Temp\ipykernel_18252\878244563.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\Dell\AppData\Local\Temp\ipykernel_18252\878244563.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)
C:\Users\Dell\AppData\Local\Temp\ipykernel_18252\878244563.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(df)

In [11]:
final

,Books_title,Rating,Prices,Stock_availabile
0,A Light in the ...,"[star-rating, Three]",£51.77,Instock
1,Tipping the Velvet,"[star-rating, One]",£53.74,Instock
2,Soumission,"[star-rating, One]",£50.10,Instock
3,Sharp Objects,"[star-rating, Four]",£47.82,Instock
4,Sapiens: A Brief History ...,"[star-rating, Five]",£54.23,Instock
...,...,...,...,...
15,Our Band Could Be ...,"[star-rating, Three]",£57.25,Instock
16,Olio,"[star-rating, One]",£23.88,Instock
17,Mesaerion: The Best Science ...,"[star-rating, One]",£37.59,Instock
18,Libertarianism for Beginners,"[star-rating, Two]",£51.33,Instock
19,It's Only the Himalayas,"[star-rating, Two]",£45.17,Instock

In [12]:
final.to_excel('bookswebscrapping.xlsx',index=False)